pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color:rgb(179, 211, 119);
    padding: 50px;
    margin: 0px;
    border-radius: 5px;
}
.pastecard{
    background-color: rgb(59, 63, 38);
}
.disclaimer{
    margin-top: 25px;
    text-align: center;
}